{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>PeachAndDoog</title>
  </head>
  <body>
    <h1 class="center">タイトル画面だよ</h1>
    <form action="{% url 'page1' %}" method="get">
    <button type="submit">スタート！</button>
    </form>
  </body>
</html>