{% load static %}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/maintext.css' %}" />
    <title>maintext</title>
  </head>
  <body>
    <h1 class="center">山の家にて</h1>
    <p id="a" class="center">お家に帰って、さっそく、おばあさんはおじいさんに桃を見せました。</p>
    <p id="b" class="center">おじいさんは、びっくりです！</p>
    <p id="c" class="center">おばあさんは、大きな出刃包丁を手に、桃を半分に割りました。</p>
    <p id="d" class="center">「おぎゃーっ、おぎゃーっ」</p>
    <p id="e" class="center">するとなんということでしょう！</p>
    <p id="f" class="center">桃の中から、元気な男の子の赤ちゃんが飛び出してきました。</p>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'js/maintext.js' %}"></script>
    
  </body>
</html>
